body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    color: #004d00; /* Dark green text color */
}

header {
    background: #007bff; /* Masters Theme Color, you might consider changing this */
    color: #ffffff; /* Keeping header text white for contrast */
    padding: 10px 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h1 {
    margin: 0;
    color: #004d00; /* Dark green for h1 headings */
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.button {
    background-color: #28a745; /* Green Button */
    color: white; /* Keep button text white for contrast */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #218838; /* Darker Green on Hover */
}

#participantsList {
    list-style-type: none;
    padding: 0;
}

#participantsList li {
    background: #e9ecef; /* Light Gray Background */
    color: #004d00; /* Dark green text for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
