body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff; /* White background */
    color: #004d00; /* Dark green text color */
}

header {
    background: #004d00; /* Dark green header background */
    color: #ffffff; /* White text for contrast */
    padding: 10px 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h1 {
    margin: 0;
    color: #004d00; /* Dark green for h1 headings */
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.button {
    background-color: #28a745; /* Green Button */
    color: white; /* Keep button text white for contrast */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #218838; /* Darker Green on Hover */
}

#participantsList {
    list-style-type: none;
    padding: 0;
}

#participantsList li {
    background: #ffffff; /* White background for list items */
    color: #004d00; /* Dark green text for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #004d00; /* Optional: Add border for list items */
}
